<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>Reservation Success</title>
</head>
<body>
    <div class="container">
        <div class="columns is-mobile mt-3">
            <div class="column is-half-desktop is-offset-one-quarter">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://source.unsplash.com/user/erondu/1280x960 " alt="Placeholder image">
                        </figure>
                      </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="title">Your reservation was successful!</h1>
                            <p class="subtite">We have sent an email to you that contains information about the reservation. We hope you enjoy your stay.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</body>
</html>